body {
	margin: 0;
	overflow-x: hidden;
	background-image: url("imagem/fundogeral.svg");
	background-size:contain;
}

a {
	text-decoration: none;
	color: inherit;
}

.dica-link-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 60%;
	margin-top: 15px;
	padding: 25px;
	box-sizing: border-box;
}
.dica-link-titulo{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(48, 48, 48);
	border-bottom: 2px solid rgb(100, 132, 251);
	border-radius: 15px 15px 0px 0px;
}
.dica-link-desc{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	flex-direction: column;
	background-color: rgb(51, 51, 51);
	padding: 35px;
	box-sizing: border-box;
	gap: 35px;
	border-radius: 0px 0px 15px 15px;
}
.dica-link-desc-botao{
	background-color: rgb(100, 132, 251);
	padding: 5px 15px;
	border-radius: 15px;
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-duration: 0.3s;
}
.dica-link-desc-botao:hover{
	background-color: rgb(76, 102, 195);
	transform: scale(1.02);
}


