body {
	margin: 0;
    color:white;
}

a {
	text-decoration: none;
	color: inherit;
}

/*Barra de navegação*/
.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.95);
	overflow: hidden;
	z-index: 3;
}
.navbar a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: white;
	width: auto;
	height: 100%;
	padding: 15px;
	transition-duration: 0.3s;
}
.navbar a:hover {
	cursor: pointer;
}
.navbar a:hover ion-icon{
	opacity: 0.7;
	transform: translatex(4px);

}
.navbar ion-icon{
	opacity: 0;
	font-size: 24px;
	transition-duration: 0.5s;
	margin-top: 3px;
}
.container-main-side{
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
.sidebar{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    border-right: 1px solid white;
    flex-direction: column;
    left: 0;
    position: fixed;
    height: 100%;
	gap: 15px;
}
.sidebar ion-icon{
	color: white;
	font-size: 25px;
}
.sidebar a{
	display: flex;
    align-items: center;
    justify-content: left;
	gap: 15px;
	width: 70%;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	color: white;
	padding: 10px;
	border-radius: 15px;
}
.sidebar a:hover{
	background-color: #181818;
}
.sidebar-active{
	background-color: #181818;
}
.sidebar-link-titulo{
	display: flex;
    align-items: center;
    justify-content: space-around;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
	font-size: 17px;
	color: white;
	
}
.sidebar-links-container{
	display: flex;
	align-items: center;
	justify-content: right;
	flex-direction: column;
	width: 100%;
	gap: 15px;

}
.main{
    width: 100%;
    margin-left:18%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #181818;
    flex-direction: column;
    height: auto;

}
.imagensrow {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	gap: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 15px;
	border-radius: 15px;
}
.principal {
	background-color: #181818;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 80%;
	height: auto;
	padding: 120px;
	flex-direction: column;
	

}
.containerprincipal {
	margin-top: 50px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background-color: #1d1d1d;
	flex-direction: column;
	width: 80%;
	padding: 70px;
	gap: 10px;
	border-top: 2px solid rgb(100, 132, 251);
}

.containerdica {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(45, 45, 45);
	border-left: 5px solid gold;
	padding: 10px;

}

.containerdica p {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: white;
	width: 100%;
}

.containerdica a:hover {
	text-decoration: underline;
	cursor: pointer
}

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48;
	color: gold;
	font-size: 60px;
}

.pagination {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.pagination a {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(98, 87, 255, 0.626);
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
	width: 45px;
	height: 45px;
	border-radius: 10px;
	transition-duration: 0.3s;
}

.pagination p {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(119, 30, 30, 0.153);
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
	width: 45px;
	height: 45px;
	border-radius: 10px;
}

.pagination p:hover {
	cursor: no-drop;
}

.pagination a:hover {
	background-color: rgb(101, 88, 215);
	cursor: pointer;
}

.pagination a.nobg {
	background-color: rgba(0, 0, 0, 0);
	transition-duration: 0.5s;
}

.pagination a.nobg:hover {
	transform: translatex(7px);
}

.pagination a.nobgleft:hover {
	transform: translatex(-7px);
}

.pagination p.active {
	background-color: rgb(100, 132, 251);
}

.pagination .material-symbols-outlined {
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48;
	color: rgb(29, 0, 247);
	font-size: 34px;
}
.voltar{
    background-color: rgb(100, 132, 251);
    padding:10px;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.voltar:hover{
	background-color: rgb(158, 179, 255);
}

.responsive {
    max-width: 100%;
    height: auto;
}