body {
	margin: 0;
    color:white;
	font-family: 'Quicksand', sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

/*Barra de navegação*/
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid white;
	width: 100%;
	height: 45px;
	top: 0;
	background-color: rgb(22, 22, 22);
	overflow: hidden;
	z-index: 3;
	position: fixed;
	transition: ease-in-out 0.4s;
}
.navbar a {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-family: 'Quicksand', sans-serif;
	font-size: 17px;
	color: white;
	width: auto;
	height: 100%;
	width: 100%;
	padding: 15px;
	transition-duration: 0.3s;
}
.navbar a:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.399);
	color: #ACC8E7;
}
.navbar a:hover ion-icon{
	opacity: 0.7;
	color: #ACC8E7;

}
.navbar ion-icon{
	font-size: 24px;
	transition-duration: 0.5s;
	margin-top: 3px;
}
/* Container para juntar o main e o side */
.container-main-side{
    flex-direction: row;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}
/* Barra lateral */
.sidebar{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    border-right: 1px solid rgb(100, 132, 251);
    flex-direction: column;
    left: 0;
    position: fixed;
    height: 100%;
	gap: 15px;
	font-family: 'Quicksand', sans-serif;
	transition-duration: 0.6s;
}
.sidebar ion-icon{
	color: white;
	font-size: 25px;
}
/* Container dos links da barra lateral */
.sidebar-links-container{
	display: flex;
	align-items: center;
	justify-content: right;
	flex-direction: column;
	width: 100%;
	gap: 15px;

}
/* Botões da barra lateral */
.sidebar-links-container a{
	display: flex;
    align-items: center;
    justify-content: left;
	gap: 15px;
	width: 70%;
	font-family: 'Quicksand', sans-serif;
	font-size: 14px;
	color: white;
	padding: 10px;
	border-radius: 15px;
}
.sidebar-links-container a:hover{
	background-color: #181818;
}
/* Classe para o botão ativo na barra lateral*/
.sidebar-active{
	background-color: #181818;
}
/* Titulo "Dicas" */
.sidebar-link-titulo{
	display: flex;
    align-items: center;
    justify-content: space-around;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
	font-size: 17px;
	color: white;
}

/* Container principal */
.main{
    width: 100%;
    margin-left:18%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #181818;
    flex-direction: column;
    height: auto;
	overflow: hidden;
	

}
/* container para os prints de css e html */
.imagensrow {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	gap: 20px;
	background-color: rgba(0, 0, 0, 0.2);
	padding: 15px;
	border-radius: 15px;
}
/* Container para alinhar os elementos fora do containerprincipal*/
.principal {
	background-color: #181818;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 80%;
	height: auto;
	padding: 120px;
	flex-direction: column;
	


}
/* Container q contém o conteúdo */
.containerprincipal {
	margin-top: 100px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	background-color: #1d1d1d;
	flex-direction: column;
	width: 70%;
	padding: 70px;
	gap: 10px;
	border-radius: 10px;
	border: 1px solid rgb(100, 132, 251);
}

/* Container de dicas */
.containerdica {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(45, 45, 45);
	border-left: 5px solid gold;
	padding: 10px;
	width: 100%;

}

.containerdica p {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: white;
	width: 90%;
}

.containerdica a:hover {
	text-decoration: underline;
	cursor: pointer
}

/* ícone do container de dicas */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 60px;
  color: gold;
}

/* container dos botões de próxima página (flexbox e google icons) */
.pagination {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
}

.pagination a {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(98, 87, 255, 0.626);
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
	width: 45px;
	height: 45px;
	border-radius: 10px;
	transition-duration: 0.3s;
}

/* não lembro oq isso ta fazendo aqui*/
.pagination p {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(119, 30, 30, 0.153);
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
	width: 45px;
	height: 45px;
	border-radius: 10px;
}

/* cursor do mouse de proibido */
.pagination p:hover {
	cursor: no-drop;
}

.pagination a:hover {
	background-color: rgb(101, 88, 215);
	cursor: pointer;
}
/* botão de proxima página */
.pagination a.nobg {
	background-color: rgba(0, 0, 0, 0);
	transition-duration: 0.5s;
}

.pagination a.nobg:hover {
	transform: translatex(7px);
}
/* botão de página anterior */
.pagination a.nobgleft:hover {
	transform: translatex(-7px);
}
/* botão da página ativa no momento */
.pagination p.active {
	background-color: rgb(100, 132, 251);
}
/* setas de proxima pagina e pagina anterior */
.pagination .material-symbols-outlined {
	font-variation-settings:
		'FILL' 1,
		'wght' 400,
		'GRAD' 0,
		'opsz' 48;
	color: rgb(29, 0, 247);
	font-size: 34px;
}
.containeratencao{
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(183, 23, 23, 0.43);
	border-left: 5px solid rgb(255, 0, 0);
	padding: 10px;
    width: 100%;
}
.containeratencao p {
	font-family: 'Quicksand', sans-serif;
	font-size: 17px;
	color: white;
	width: 80%;
    text-align: center;

}

.containeratencao a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.containeratencao .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
    color:red;
    font-size: 60px;
  }

  .contverde {
	background-color: rgba(12, 83, 48, 0.579);
	padding:15px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	flex-direction:row;
	border-left: 5px solid rgb(150, 204, 150);
	border-radius: 5px;
	width: 400px;
}

.contverde p{
	display: flex;
	justify-content: flex-start;
	text-align: left;

}
.contverde ion-icon{
	color: rgb(150, 204, 150);
    font-size: 30px;
	
}
.contred {
	background-color: rgba(101, 23, 23, 0.527);
	padding:15px;
	display:flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	width: 400px;
	flex-direction:row;
	border-left: 5px solid red;
	border-radius: 5px;

}
.contred ion-icon{
	color: red;
    font-size: 30px;
	
}
.contred p{
	display: flex;
	justify-content: flex-start;
	text-align: justify;

}
/* botão de voltar */
.voltar{
    background-color: rgb(100, 132, 251);
    padding:10px;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.voltar:hover{
	background-color: rgb(158, 179, 255);
}
/* campo para os comandos */
.textocomando {
	font-family: 'Source Code Pro', monospace;
	font-size: 16px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	margin: 0;
	background-color: rgb(22, 21, 21);
	padding: 2px;
	border-radius: 5px;
	resize: none;
	width: auto;
}
/* classe de imagens responsivas */
.responsive {
    max-width: 100%;
    height: auto;
}
/* barra de navegação que aparece apenas no mobile (900px) */
/* tem o botão de mostrar a barra lateral */
.navbar-show-side{
	display: none;
	position: fixed;
	align-items: center;
	top: 0;
	justify-content: left;
	padding: 0px 30px;
	height: 45px;
	transition-duration: 0.3s;
	width: 100%;
	background-color: rgb(0, 0, 0);
	z-index: 1;
}
.navbar-show-side a{
	color: white;
}
/* tamanho icone de abrir o menu */
.navbar-show-side ion-icon{
	font-size: 30px;
}
/* botão de fechar a barra lateral (só aparece na tela menor que 900px) */
.close-sidebar{
	display: none;
	justify-content: center;
	border: none;
	background-color: inherit;
}
/* tamanho do icone de fechar */
.close-sidebar ion-icon{
	font-size: 60px;
}

.footer {
	display: flex;
	align-items: first baseline;
	justify-content: center;
	background-color: #18253d;
	height: auto;
	flex-direction: row;
	width: 100%;
	padding: 30px 0px;
	
}

.footer p {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color: white;
	text-align: center;
	height: 100%;
}
.footer .colunafooter1 {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 55%;
	align-items: center;

}
.colunafooter1-coluna-links{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	width: 50%;

}
.colunafooter1-coluna-links a{
	text-align: justify;
	display: flex;
	justify-content: left;
	width: 80%;
	font-size: 14px;
	padding: 5px;
	transition-duration: 0.3s;
}
.colunafooter1-coluna-links a:hover{
	text-decoration: underline;
}

.colunafooter1 ion-icon {
	font-size: 24px;
	color: white;
}

.colunafooter2 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 25%;
	height: auto;
	gap: 15px;
}

.colunafooter2 a {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
	background-color: #03265f;
	border-bottom: 2px solid steelblue;
	padding: 7px;
	border-radius: 15px;
	transition-duration: 0.2s;
}

.colunafooter2 a:hover {
	background-color: #073a8d;

}



/* comandos para telas menores que 900px */
@media only screen and (max-width: 900px) {

	p{
		font-size: 13px;
	}

	/* sidebar escondida (até que se aperte o botão na barra da navbar-show-side) */
	.sidebar{
		top: 0;
		left: -400;   /*esconde o botão*/
		width: 50%;
		z-index: 4;
	}
	/* para a div main ocupar toda a tela quando não tiver a barra lateral */
	.main{
		width: 100%;
		margin: 0;
		overflow: none;
	}
	/* barra de navegação em coluna e sem fixação na tela */
	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-around;
		border-bottom: 1px solid white;
		flex-direction: column;
		width: 100%;
		top: 0;
		height: auto;
		background-color: rgb(22, 22, 22);
		overflow: hidden;
		transition: ease-in-out 0.4s;
		position: relative;
		z-index: 2;
	}
	.navbar a{
		font-size: 15px;
	}
	/* mostra a barra com o botão do menu */
	.navbar-show-side{
		display: flex;
		position: fixed;
		align-items: center;
		top: 0;
		justify-content: left;
		padding: 0px 30px;
		height: 45px;
		transition-duration: 0.3s; /* adiciona a animação de entrada */
		width: 100%;
		background-color: rgb(0, 0, 0);
		z-index: 1; /* para que a barra fique embaixo da barra de navegação original*/
	}
	/* mostra o botão de fechar a barra lateral */
	.close-sidebar{
		display: flex;
	}



}