
body {
	margin: 0;
	background-image: url("imagem/links/fundolinks.svg");
	background-size:contain;
}
html{
	scroll-behavior: smooth;
}

a {
	text-decoration: none;
	color: inherit;
}
	

.dica-link-container{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 60%;
	margin-top: 15px;
	padding: 25px;
	box-sizing: border-box;
	background-color: rgb(45, 45, 45);
}
/* Barra lateral */
.sidebar-links{
    width: 18%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252525;
    border-right: 1px solid rgb(100, 132, 251);
    flex-direction: column;
    left: 0;
    position: fixed;
    height: 100%;
	gap: 15px;
	font-family: 'Quicksand', sans-serif;
	transition-duration: 0.6s;
	overflow-y: scroll;
}
.sidebar-links ion-icon{
	color: white;
	font-size: 25px;
}
/* Container dos links da barra lateral */
.sidebar-links-container-links{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	gap: 5px;
	margin-top: 150vh;
	padding: 15vh 0px;
}
/* Botões da barra lateral */
.sidebar-links-container-links a{
	display: flex;
    align-items: center;
    justify-content: left;
	gap: 15px;
	width: 70%;
	font-family: 'Quicksand', sans-serif;
	font-size: 2vh;
	color: white;
	padding: 5px;
	border-radius: 15px;
}
.sidebar-links-container-links a:hover{
	background-color: #181818;
}
/* Classe para o botão ativo na barra lateral*/
.sidebar-active-links{
	background-color: #181818;
	font-size: 2.5vh;
}
/* Titulo "Dicas" */
.sidebar-link-titulo-links{
	display: flex;
    align-items: center;
    justify-content: space-around;
	width: 100%;
	font-family: 'Quicksand', sans-serif;
	font-size: 4vh;
	color: white;
}





