
body {
	margin: 0;
	overflow-x: hidden;
	background-image: url("imagem/links/fundoroxo8.png");
	background-size:contain;
}

a {
	text-decoration: none;
	color: inherit;
}

/*Barra de navegação*/
.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.95);
	overflow: hidden;
	z-index: 10;
}

.navbar a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: white;
	width: auto;
	height: 100%;
	padding: 25px;
	transition-duration: 0.3s;
	position: relative;


}

.navbar a:hover {
	background-color: rgb(29, 82, 125);
	cursor: pointer;
}

.header {
	background: url('imagem/fundo6.jpg');
	border-bottom: 5px solid navy;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	flex: 100%;
	height: 590px;
	flex-direction: column;
}

.headertitulo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-right: 150px;
	margin-top: 150px;

}

.headertitulo h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 100px;
	color: white;
	margin: 0;
	text-shadow: 5px 5px 3px rgba(150, 150, 250, 0.7);
}

.headertitulo p {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: white;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(150, 150, 250, 0.7);

}

/*container principal*/
.principal {
	display: flex;
	align-items: first baseline;
	justify-content: space-around;
	gap:10px;
	flex: 80%;
	height: auto;
	flex-direction: row;
	flex-wrap: wrap;
	padding:50px;

}


.principal h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	margin: 0;
}


.icone {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition-duration: 0.3s;
	width: 500px;
	padding:15px;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
	margin: 0;
	text-align: center;
	transition-duration: 0.5s;
}

.iconetitulo {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #da1f4b7d;
	width: 100%;
	padding: 25px;
	border: 2px solid rgb(215, 52, 84);
	border-radius: 5px 5px 0px 0px;
	transition-duration: 0.3s;
	gap:15px;
	
}
.iconetitulo ion-icon{
	font-size: 50px;
	color:white;
}

.desc {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #74014e86;
	width: 100%;
	height: auto;
	padding: 25px;
	border-left: 2px solid crimson;
	border-right: 2px solid crimson;
	border-bottom: 2px solid crimson;
	border-radius: 0px 0px 5px 5px;
	transition-duration: 0.3s;
	flex-direction: column;
	gap: 15px;
}

.descpartes {
	background-color: rgba(182, 83, 162, 0.274);
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 350px;
	box-shadow: 0px 0px 5px 0px rgb(23, 23, 23);
	gap:10px;
	border-radius:5px;

}

.descpartes h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	color: white;
	margin: 0;
	text-align: center;
	width:100%;
	padding:10px;
	border-radius:5px;
	
}
.botoescontainer{
	display: flex;
	align-items: center;
	justify-content: center;
	gap:5px;
}
.botoescontainer a{
	background-color:rgba(255, 85, 0, 0.368);
	padding:5px;
	border-radius:5px;
	width:150px;
}
.botoescontainer a:hover{
	background-color:crimson;
}

.descpartes p {
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	color: white;
	margin: 0;
	text-align: center;

}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa separando */



.img {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition-duration: 0.3s;
	width: 500px;
	padding:15px;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
	margin: 0;
	text-align: center;
	transition-duration: 0.5s;
}

.imgtitulo {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #641beb7d;
	width: 100%;
	padding: 25px;
	border: 2px solid rgb(84, 178, 233);
	border-radius: 5px 5px 0px 0px;
	transition-duration: 0.3s;
	gap:15px;
	
}
.imgtitulo ion-icon{
	font-size: 50px;
	color:white;
}

.imgdesc {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #33109286;
	width: 100%;
	height: auto;
	padding: 25px;
	border-left: 2px solid rgb(84, 178, 233);
	border-right: 2px solid rgb(84, 178, 233);
	border-bottom: 2px solid rgb(84, 178, 233);
	border-radius: 0px 0px 5px 5px;
	transition-duration: 0.3s;
	flex-direction: column;
	gap: 15px;
}

.imgdescpartes {
	background-color: rgba(58, 83, 210, 0.274);
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 350px;
	box-shadow: 0px 0px 5px 0px rgb(23, 23, 23);
	gap:10px;
	border-radius:5px;

}

.imgdescpartes h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	color: white;
	margin: 0;
	text-align: center;
	width:100%;
	padding:10px;
	border-radius:5px;
	
}
.imgbotoescontainer{
	display: flex;
	align-items: center;
	justify-content: center;
	gap:5px;
}
.imgbotoescontainer a{
	background-color:rgba(83, 40, 193, 0.799);
	padding:5px;
	border-radius:5px;
	width:150px;
}
.imgbotoescontainer a:hover{
	background-color:purple;
}

.imgdescpartes p {
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	color: white;
	margin: 0;
	text-align: center;

}


/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa separando */

.gen{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition-duration: 0.3s;
	width: 500px;
	padding:15px;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
	margin: 0;
	text-align: center;
	transition-duration: 0.5s;
}

.gentitulo {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #ebeb1b7d;
	width: 100%;
	padding: 25px;
	border: 2px solid rgb(255, 206, 61);
	border-radius: 5px 5px 0px 0px;
	transition-duration: 0.3s;
	gap:15px;
	
}
.gentitulo ion-icon{
	font-size: 50px;
	color:white;
}

.gendesc {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #c0d73d4b;
	width: 100%;
	height: auto;
	padding: 25px;
	border-left: 2px solid rgb(255, 206, 61);
	border-right: 2px solid rgb(255, 206, 61);
	border-bottom: 2px solid rgb(255, 206, 61);
	border-radius: 0px 0px 5px 5px;
	transition-duration: 0.3s;
	flex-direction: column;
	gap: 15px;
}

.gendescpartes {
	background-color: rgba(210, 187, 58, 0.381);
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 350px;
	box-shadow: 0px 0px 5px 0px rgb(23, 23, 23);
	gap:10px;
	border-radius:5px;

}

.gendescpartes h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	color: white;
	margin: 0;
	text-align: center;
	width:100%;
	padding:10px;
	border-radius:5px;
	
}
.genbotoescontainer{
	display: flex;
	align-items: center;
	justify-content: center;
	gap:5px;
}
.genbotoescontainer a{
	background-color:rgba(193, 180, 40, 0.799);
	padding:5px;
	border-radius:5px;
	width:150px;
}
.genbotoescontainer a:hover{
	background-color:orange;
}

.gendescpartes p {
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	color: white;
	margin: 0;
	text-align: center;
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa separando */

.diversos{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition-duration: 0.3s;
	width: 500px;
	padding:15px;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
	margin: 0;
	text-align: center;
	transition-duration: 0.5s;
}

.diversostitulo {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #2ac5277d;
	width: 100%;
	padding: 25px;
	border: 2px solid lime;
	border-radius: 5px 5px 0px 0px;
	transition-duration: 0.3s;
	gap:15px;
	
}
.diversostitulo ion-icon{
	font-size: 50px;
	color:white;
}

.diversosdesc {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #1bd41e3d;
	width: 100%;
	height: auto;
	padding: 25px;
	border-left: 2px solid lime;
	border-right: 2px solid lime;
	border-bottom: 2px solid lime;
	border-radius: 0px 0px 5px 5px;
	transition-duration: 0.3s;
	flex-direction: column;
	gap: 15px;
}

.diversosdescpartes {
	background-color: rgba(35, 139, 35, 0.381);
	padding: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 350px;
	box-shadow: 0px 0px 5px 0px rgb(23, 23, 23);
	gap:10px;
	border-radius:5px;

}

.diversosdescpartes h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 25px;
	color: white;
	margin: 0;
	text-align: center;
	width:100%;
	padding:10px;
	border-radius:5px;
	
}
.diversosbotoescontainer{
	display: flex;
	align-items: center;
	justify-content: center;
	gap:5px;
}
.diversosbotoescontainer a{
	background-color:rgba(40, 193, 99, 0.799);
	padding:5px;
	border-radius:5px;
	width:150px;
}
.diversosbotoescontainer a:hover{
	background-color:forestgreen;
}

.diversosdescpartes p {
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
	color: white;
	margin: 0;
	text-align: center;
}




/*rodapé*/
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #011638;
	height: auto;
	flex-direction: row;
	padding: 50px;
}

.footer p {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color: white;
	text-align: center;

}

.colunafooter1 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 33%;
	height: 100%;
	gap: 15px;
}

.colunafooter1 ion-icon {
	font-size: 24px;
	color: white;
}

.colunafooter2 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 33%;
	height: 100%;
	gap: 15px;
}

.colunafooter2 a {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
	background-color: #03265f;
	border-bottom: 2px solid steelblue;
	padding: 7px;
	border-radius: 15px;
	transition-duration: 0.2s;
}

.colunafooter2 a:hover {
	background-color: #073a8d;

}

.colunafooter3 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 33%;
	height: 100%;
	gap: 15px;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;

}

.social a {
	background-color: none;
	border: none;
}