body {
	margin: 0;
	overflow-x: hidden;
}
a {
	text-decoration: none;
	color: inherit;
}

/*Barra de navegação*/
.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 80px;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	background-color: rgba(0, 0, 0, 0.95);
	overflow: hidden;
	z-index: 10;
}

.navbar a {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: white;
	width: auto;
	height: 100%;
	padding: 25px;
	transition-duration: 0.3s;
	position: relative;


}

.navbar a:hover {
	background-color: rgb(29, 82, 125);
	cursor: pointer;
}

.header {
	background: linear-gradient(180deg, rgba(1,0,24,0) 40%, rgba(28,0,29,1) 100%), url('imagem/pesquisa/fundopesquisa.jpg');
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 100%;
	height: 400px;
	flex-direction: column;
}

.headertitulo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    margin-bottom: 50px;

}

.headertitulo h1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 100px;
	color: white;
	margin: 0;
	text-shadow: 5px 5px 3px rgba(150, 150, 250, 0.7);
}

.headertitulo p {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: white;
	margin: 0;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 5px;
	border-radius: 5px;
	box-shadow: 2px 2px 2px rgba(150, 150, 250, 0.7);

}

/*container principal*/
.principal {
    background: linear-gradient(0deg, rgba(1,0,24,0) 60%, rgba(28,0,29,1) 100%), url('imagem/links/fundoroxo7.jpg');
	display: flex;
	align-items: center;
	justify-content: center;
	gap:10px;
	flex: 80%;
	height: auto;
	flex-direction: column;
	flex-wrap: wrap;
	padding:50px;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
	margin: 0;

}


.principal h1 {
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
	color: white;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	margin: 0;
}

.img {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition-duration: 0.3s;
	width: 600px;
	padding:15px;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;
	margin: 0;
	text-align: center;
	transition-duration: 0.5s;
}

.imgtitulo {
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #5ccdec9f;
	width: 100%;
	padding: 25px;
	border: 2px solid rgb(84, 178, 233);
	border-radius: 5px 5px 0px 0px;
	transition-duration: 0.3s;
	gap:15px;
	
}
.imgtitulo ion-icon{
	font-size: 50px;
	color:white;
}

.imgdesc {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #3e84be86;
	width: 100%;
	height: auto;
	padding: 25px;
	border-left: 2px solid rgb(84, 178, 233);
	border-right: 2px solid rgb(84, 178, 233);
	border-bottom: 2px solid rgb(84, 178, 233);
	border-radius: 0px 0px 5px 5px;
	transition-duration: 0.3s;
	flex-direction: column;
	gap: 15px;
}
.imgdesc a{
	background-color:rgba(40, 81, 193, 0.799);
	padding:5px;
	border-radius:5px;
	width:150px;
}
.imgdesc a:hover{
	background-color:rgb(41, 0, 128);
}


/*rodapé*/
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #011638;
	height: auto;
	flex-direction: row;
	padding: 50px;
}

.footer p {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 17px;
	color: white;
	text-align: center;

}

.colunafooter1 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 33%;
	height: 100%;
	gap: 15px;
}

.colunafooter1 ion-icon {
	font-size: 24px;
	color: white;
}

.colunafooter2 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 33%;
	height: 100%;
	gap: 15px;
}

.colunafooter2 a {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	color: white;
	background-color: #03265f;
	border-bottom: 2px solid steelblue;
	padding: 7px;
	border-radius: 15px;
	transition-duration: 0.2s;
}

.colunafooter2 a:hover {
	background-color: #073a8d;

}

.colunafooter3 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex: 33%;
	height: 100%;
	gap: 15px;
}

.social {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;

}

.social a {
	background-color: none;
	border: none;
}