body {
	margin: 0;


}

.container {
	background: linear-gradient(180deg, rgba(255,255,255,0) 90%, rgba(1, 16, 45, 1)100%), url('imagem/fundo5.jpg');
	background-position: 0% 90%;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex: 100%;
	height: 500px;
	flex-direction: column;

	
}

.container p{
	font-family: 'Montserrat', sans-serif;
	font-size: 30px;
	color:white;
	text-shadow: 5px 5px 4px rgba(0,0,0,0.7);
	margin:0;

}

.container img{
	width:300px;
	height:300px;
}
.container h1{
	font-family: 'Quicksand', sans-serif;
	font-size: 70px;
	color:white;
	text-shadow: 5px 5px 3px rgba(150,150,250,0.7);
	margin:0;
	
}

.container2 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding:25px;
	flex-direction:column;
	border-radius:10px;
	margin-top:30px;
	
}

.principal {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex:100%;
	height:auto;
	padding:50px;
	background-color: #01102D;
	flex-direction:column;

	
}

.principal h1{
	font-family: 'Quicksand', sans-serif;
	font-size: 40px;
	color:white;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.3);
	margin:0;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	gap:80px;
	width:100%;
	height:40px;
	position:fixed;
	top:0;
	background-color: rgba(0,0,0,0.7);
	
}
.navbar a{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color:white;
}

.linkscontainer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width:100%;
	flex-direction:row;
	padding:15px;
}
.linkscontainer p{
	display:flex;
	align-items:center;
	justify-content:center;
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color:white;
	margin:0;
	text-align: center;
	opacity: 0;
	transition-duration: 0.5s;
	
}
.linkscontainer a{
	border-bottom: 2px solid #ACC8E7;
	display:flex;
	align-items:center;
	justify-content:center;
	padding:50px;
	height: 150px;
	background: linear-gradient(180deg, rgba(238,174,202,0) 3%, rgba(50,116,255,0.3982843137254902) 100%);
	transition-duration:0.5s;
	flex-direction:column;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	color:white;
	width:180px;
	transition-duration: 0.5s;
	
}
.linkscontainer a:hover{
	transition-duration: 0.5s;
    transform: translateY(5px);

	

}
.linkscontainer a:hover p{
	opacity: 1;
	transition-duration: 0.5s;
	transform: translateY(5px);

}

.linkscontainer a:hover ion-icon{
	color:steelblue;
	
}

.linkscontainer ion-icon{
	font-size:70px;
	color: ACC8E7;
	transition-duration:0.5s;
}